<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invoice</title>
    <style>
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }


        body {
            margin: 0;
        }

        strong {
            font-weight: 700;
        }

        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
            top: -0.5em;
        }

        img {
            border: 0;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td,
        th {
            padding: 0;
        }

        html {
            font-size: 10px;
            -webkit-tap-highlight-color: #fff;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        img {
            vertical-align: middle;
        }

        h1,
        h2,
        h3 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }

        h1,
        h2,
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 24px;
        }

        p {
            margin: 0 0 5px;
        }

        .text-right {
            text-align: right;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-xs-2,
        .col-xs-4,
        .col-xs-8,
        .col-xs-10,
        .col-xs-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
        }

        .col-xs-12 {
            width: 100%;
        }

        .col-xs-10 {
            width: 83.33333333%;
        }

        .col-xs-8 {
            width: 66.66666667%;
        }

        .col-xs-4 {
            width: 33.33333333%;
        }

        .col-xs-2 {
            width: 16.66666667%;
        }

        table {
            background-color: transparent;
        }

        th {
            text-align: left;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }

        .table > caption + thead > tr:first-child > th,
        .table > colgroup + thead > tr:first-child > th,
        .table > thead:first-child > tr:first-child > th,
        .table > caption + thead > tr:first-child > td,
        .table > colgroup + thead > tr:first-child > td,
        .table > thead:first-child > tr:first-child > td {
            border-top: 0;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

        .row:before,
        .row:after {
            display: table;
            content: " ";
        }

        .row:after {
            clear: both;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            color: #000;
            font-size: 8pt;
            line-height: 1.5;
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 210mm;
            height: 296mm;
            padding: 10mm 15mm;
            margin: 10mm auto;
            position: relative;
            background: #fff;
            box-shadow: 0 0 5px #d2d2d2;
        }

        .header {
            margin-bottom: 10px;
        }

        .page-content {
            height: 283mm;
            position: relative
        }

        .continue {
            text-align: right;
        }

        .payment-info {
            height: 32mm;
        }

        #footer {
            position: absolute;
            height: 230px;
            width: 100%;
            bottom: 0;
        }

        h1 {
            font-size: 18pt;
            font-weight: 500;
            margin: 30px 0 20px 0;
        }

        h2 {
            font-size: 12pt;
            font-weight: 700;
            text-transform: uppercase;
        }

        h3 {
            font-size: 8pt;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }

        .logo {
            width: 50mm;
            height: 20mm;
        }

        .addresses {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .addresses .address-col {
            line-height: 1.5;
            padding: 0;
            min-width: 28%;
            max-width: 35%;
            display: inline-block;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .addresses .address-divider {
            border-left: 1px solid #b0b0b0;
            display: block;
            padding: 0 4mm;
        }

        .date-info {
            text-align: right;
        }

        .date-info p {
            font-size: 9pt;
            line-height: 1.2;
            margin: 0 0 0.9rem 0;
        }

        .registration-footer {
            border-top: 1px solid #b0b0b0;
            display: block;
            width: 100%;
            padding: 15px 15px 0 15px;
        }

        .reason-count {
            margin: 0 5px;
        }

        .table-invoice {
            margin-top: 10px;
            border-bottom: 1px solid #000;
        }

        .table-invoice thead tr th {
            -webkit-print-color-adjust: exact !important;
            background-color: #000;
            color: #fff;
            border-bottom: 0 none !important;
            vertical-align: middle !important;
            padding: 10px 15px;
        }

        .table-invoice thead tr th:nth-child(6) {
            width: 12%;
            padding: 0;
            padding-right: 10px;
        }

        .table-invoice div.incl-vat-text {
            font-size: 10px;
        }

        .table-invoice tbody tr td {
            padding: 5px 15px;
            border-color: #b0b0b0;
        }

        .table-invoice tbody tr:first-of-type td {
            border-top: 0 none;
        }

        .table-invoice.side-borders {
            border-bottom: 0 none;
        }

        .table-invoice.side-borders thead tr th {
            border: 1px solid #ccc;
        }

        .table-invoice.side-borders tbody tr td {
            border: 1px solid #ccc;
        }

        .table-totals tbody tr td {
            padding: 0 0 10px 0;
            border: 0 none;
        }

        .text-watermark {
            -webkit-print-color-adjust: exact !important;
            position: absolute;
            top: 40%;
            left: 0;
            width: 210mm;
            text-align: center;
            font-size: 110pt;
            color: #e6e6e6 !important;
            -ms-transform: rotate(-48deg);
            -webkit-transform: rotate(-48deg);
            transform: rotate(-48deg);
        }

        @@media print {
            html,
            body {
                width: 210mm;
                height: auto;
            }

            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }

            .table-invoice {
                border-bottom: 1px solid #000;
            }

            .table-invoice thead tr th {
                -webkit-print-color-adjust: exact !important;
                background-color: #000 !important;
                color: #fff !important;
            }

            .text-watermark {
                -webkit-print-color-adjust: exact !important;
            }
        }

        .pr-0,
        .px-0 {
            padding-right: 0 !important;
        }

        .pl-0,
        .px-0 {
            padding-left: 0 !important;
        }

        .text-right {
            text-align: right !important;
        }

        .m-0 {
            margin: 0 !important;
        }

        .mb-0,
        .my-0 {
            margin-bottom: 0 !important;
        }

        .mb-1,
        .my-1 {
            margin-bottom: 0.25rem !important;
        }

        .mb-2,
        .my-2 {
            margin-bottom: 0.5rem !important;
        }

        .mt-3,
        .my-3 {
            margin-top: 1rem !important;
        }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }
    </style>
</head>
<body>
{{#each Pages}}
    <div class="page">
        <div class="page-content">
            {{#if @root.IsCopy}}
                <div class="text-watermark">DUPLICATE</div>
            {{/if}}
            <div id="header" class="header">
                <div class="row px-0">
                    <div class="col-xs-4">
                        <img src="https://eswlogisticsprod.blob.core.windows.net/images/levis.svg" class="logo" alt="Levis" />
                    </div>
                    <div class="col-xs-8 text-right text-light">
                        Levi's<sup>&reg;</sup> Customer Services<br />
                        P: 00800 53847 501<br />
                        https://www.levi.com/GB/en_GB/contact<br />
                        eShop: levi.com
                    </div>
                </div>
            </div>
            {{#if @first}}
                <div id="invoice-details">
                    <div class="row px-0">
                        <div class="col-xs-12 text-right">
                            <h1>Invoice</h1>
                        </div>
                    </div>
                    <div class="row px-0">
                        <div class="col-xs-10">
                            <div class="addresses">
                                <div class="address-col">
                                    <h3><strong>BILL TO</strong></h3>
                                    <p>
                                        {{@root.BillingAddress.FirstName}}&nbsp;{{@root.BillingAddress.LastName}}<br />
                                        {{@root.BillingAddress.Address1}}<br />
                                        {{@root.BillingAddress.Address2}}<br />
                                        {{#if @root.BillingAddress.Address3}}
                                            {{@root.BillingAddress.Address3}}<br />
                                        {{/if}}
                                        {{@root.BillingAddress.City}}<br />
                                        {{@root.BillingAddress.PostalCode}}<br />
                                        {{@root.BillingAddress.Country}}
                                    </p>
                                    {{#if @root.BillingAddress.Telephone}}
                                        <p class="mb-0"><strong>P:</strong> {{@root.BillingAddress.Telephone}}</p>
                                    {{/if}}
                                </div>
                                <div class="address-divider"></div>
                                <div class="address-col">
                                    <h3><strong>SHIP TO</strong></h3>
                                    <p>
                                        {{@root.ShippingAddress.FirstName}}&nbsp;{{@root.ShippingAddress.LastName}}<br />
                                        {{@root.ShippingAddress.Address1}}<br />
                                        {{@root.ShippingAddress.Address2}}<br />
                                        {{#if @root.ShippingAddress.Address3}}
                                            {{@root.ShippingAddress.Address3}}<br />
                                        {{/if}}
                                        {{@root.ShippingAddress.City}}<br />
                                        {{@root.ShippingAddress.PostalCode}}<br />
                                        {{@root.ShippingAddress.Country}}
                                    </p>
                                    {{#if @root.ShippingAddress.Telephone}}
                                        <p class="mb-0"><strong>P:</strong> {{@root.ShippingAddress.Telephone}}</p>
                                    {{/if}}
                                </div>

                                <div class="address-divider"></div>

                                <div class="address-col">
                                    <h3><strong>SOLD BY</strong></h3>
                                    <p>
                                        Levi Strauss &amp; Co Europe<br />
                                        Airport Plaza - Rio Building<br />
                                        Leonardo Da Vincilaan 19<br />
                                        1831 Diegem<br />
                                        Belguim
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 date-info">
                            <p>
                                <strong>Order No.</strong><br />
                                {{@root.OrderNumber}}
                            </p>
                            <p>
                                <strong>Order Date</strong><br />
                                {{date @root.OrderDate 'mm/dd/yyyy'}}
                            </p>
                            <p>
                                <strong>Invoice No.</strong><br />
                                {{@root.OrderNumber}}
                            </p>
                            <p>
                                <strong>Issue Date</strong><br />
                                {{date @root.OrderDate 'mm/dd/yyyy'}}
                            </p>
                        </div>
                    </div>

                    <div class="row px-0">
                        <div class="col-xs-10">
                            <p class="mt-3"><strong>Dear Customer,</strong></p>
                            <p>Thank you for shopping on levi.com. </p>
                            <p>If your order comes in multiple shipments, each invoice will show the initial shipping charge but you will only be charged once for your order.</p>
                            <p>If you have any questions relating to your purchase, please visit us at levi.com. Please check our Help Centre section for further guidance.</p>
                            <p>In case of returns, please note that you have 28 days to return any item.</p>
                            <p>We look forward to seeing you next time.</p>
                            <p class="mb-0">Levi's<sup>&reg;</sup> Customer Service</p>
                        </div>
                    </div>

                </div>
            {{/if}}
            <div class="invoice-items">
                <div class="row px-0">
                    <div class="col-xs-12 px-0">
                        <p class="text-right"><strong>VAT amount and price are in: GBP</strong></p>
                        <table class="table table-invoice">
                            <thead>
                            <tr>
                                <th>Product Code</th>
                                <th style="width: 50%">Description</th>
                                <th>Size</th>
                                <th>Qty</th>
                                <th>VAT%</th>
                                <th class="text-right">
                                    Line Total
                                    <div class="incl-vat-text">(Inc VAT)</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each this}}
                                <tr>
                                    <td>{{this.ProductCode}}</td>
                                    <td>
                                        <div style="height: 30px">{{this.Description}}</div>
                                    </td>
                                    <td>{{this.Size}}</td>
                                    <td>{{this.Quantity}}</td>
                                    <td class="text-right">{{this.Vat}}</td>
                                    <td class="text-right">{{price this.LineTotal}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="footer">
                <div class="footer-content">
                    {{#if @last}}
                        <div class="payment-info">
                            <div class="row px-0">
                                <div class="col-xs-8">
                                    <h3 class="mb-3">Payment Info</h3>
                                    <p class="mb-1"><strong>Customer No.</strong> {{@root.CustomerNo}}</p>
                                    <p class="mb-1"><strong>Payment Method.</strong> {{@root.PaymentMethod}}</p>
                                </div>
                                <div class="col-xs-4">
                                    <table class="table table-totals">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <h3 class="m-0">SUBTOTAL</h3>
                                            </td>
                                            <td class="text-right">{{@root.CurrencySymbol}}{{price @root.SubTotal}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>SHIPPING</strong></td>
                                            <td class="text-right">{{@root.CurrencySymbol}}{{price @root.ShippingTotal}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>VAT</strong></td>
                                            <td class="text-right">{{@root.CurrencySymbol}}{{price @root.VatTotal}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="m-0">TOTAL</h2>
                                            </td>
                                            <td class="text-right">
                                                <h2 class="m-0">{{@root.CurrencySymbol}}{{price @root.Total}}</h2>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="payment-info continue">
                            Continued on the next page
                        </div>
                    {{/if}}
                    <div class="row px-0">
                        <div class="col-xs-12 px-0">
                            <div class="registration-footer">
                                <p class="mb-2">
                                    <strong>Vat Registration Number:</strong> GB 869 111 411
                                </p>
                                <p class="mb-2"><strong>Company Registration Number:</strong> 0424 656 991</p>
                                <p class="mb-2"><strong>Place Of Registration:</strong> 1831 Diegem, Belguim</p>
                                <p class="mb-2"><strong>Registered office address:</strong> Leonardo Da Vincilaan 19, 1831 Diegem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</body> 
</html>